body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  margin: 0
}

header {
  flex: 0 80px;
  background-color: dimgray;
  border-bottom: 5px solid black;
}

header h1{
  font-family: "Papyrus", fantasy;
  color:  goldenrod;
}

header nav menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Papyrus", fantasy;
  font-size: 20px;
  color: goldenrod;
  margin-right: 50px;
}

header nav menu li a{
  color: goldenrod;
  text-decoration: none;
}

main{
    flex: 1 calc(100vh - 110px);
    background-color: navy;
    border-bottom: 5px solid black;
}

main h1{
    font-family: "Papyrus", fantasy;
    color: goldenrod;
    text-align: center;
}

main .skill_tree_header{
    text-align: center;
    font-family: "Papyrus", fantasy;
    color: goldenrod;
}

main .skill_tree{
    font-family: "Papyrus", fantasy;
    color: goldenrod;
    border: 3px solid white;
}

main .action_skills{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    margin-bottom: 15px;
}

main .skill_row1{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

main .skill_row2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

main .skill_row3{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

main .mastery_bottom_row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main .single_skill_row{
    display: flex;
    justify-content: center;
}

main .mastery_tree{
  width: 500px;
}

main .equipment_header{
  display: flex;
  justify-content: center;
  font-family: "Papyrus", fantasy;
  color: goldenrod;
}

main .equipment{
  display: flex;
  justify-content: space-evenly;
  font-family: "Papyrus", fantasy;
  color: goldenrod;
}

main .weapons{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px;
}

main .weapon_row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

main .utility{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px;
}

main .util_row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

main .calculator_header{
  display: flex;
  justify-content: center;
  font-family: "Papyrus", fantasy;
  color: goldenrod;
}

main .calculator_values{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Papyrus", fantasy;
  color: goldenrod;
}

main .build_descript_header{
  display: flex;
  justify-content: center;
  font-family: "Papyrus", fantasy;
  color: goldenrod;
}

main .descript{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

main .description_input{
  text-align: center;
  font-family: "Papyrus", fantasy;
  border: 5px solid black;
  width: 500px;
  height: 200px;
}

main .submit_upload{
  width: 150px;
  height: 30px;
  font-family: "Papyrus", fantasy;
  color: goldenrod;
  background-color: dimgray;
  border: 3px solid black;
  margin-bottom: 10px;
}




footer{
  display: flex;
  background-color: dimgray;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}

footer .text-reset{
  color: goldenrod;
  font-family: "Papyrus", fantasy;
  font-size: 20px;
}

footer a{
  color: goldenrod;
  font-family: "Papyrus", fantasy;
  font-size: 20px;
  text-decoration: none;
}