body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: royalblue;
}

main h1{
    margin-top: 250px;
    text-align: center;
    font-family: "Papyrus", fantasy;
    font-size: 50px;
    color:white;
    -webkit-text-stroke: .0001px black;
}
main .login_info{
  width: 300px;
  height: 50px;
  text-align: center;
  font-family: "Papyrus", fantasy;
  font-size: 20px;
  background-color: slategrey;
  border: 3px solid black;
  margin-bottom: 5px;

}

main form input::placeholder{
  color: white
}

main .login_buttons{
  margin-left: 2px;
  width: 150px;
}



