main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: navy;
  border-bottom: 5px solid black;
  font-family: "Papyrus", fantasy;
  color: goldenrod;
}

main h1{
    text-align: center;
}

main .login_name{
    display: block;
    text-align: right;
}

main .community_builds_table{
    border-collapse: collapse;
    width: 80%;
    margin: 30px auto;;
    text-align: center;
}

main .community_builds_table tr, td{
  border: 3px solid black;
  background-color: dimgray;
}

main .community_builds_table button{
  font-family: "Papyrus", fantasy;
  font-size: 15px;
  color:goldenrod;
  background-color: dimgray;
}

main .search{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

main .search_input{
  text-align: center;
  font-family: "Papyrus", fantasy;
  border: 5px solid black;
  width: 500px;
  height: 40px;
}

.buildLink{
  text-decoration: none;
  color: goldenrod
}

